body {
	font-family: 'Inter', sans-serif;
	margin: 0px;
}

nav {
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F55A5A;
}

.title {
	font-weight: 500;
	color: white;
}

.card {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.card--image {
	width: 326px;
	height: 368px;
	background: url('https://images.unsplash.com/photo-1621164870333-7931835f05de?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80');
	background-repeat: no-repeat;
	background-size: contain;
}
