body {
	font-family: 'Inter', sans-serif;
	margin: 0px;
}

nav {
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F55A5A;
}

.navbar--title {
	font-weight: 500;
	color: white;
}

.card--list {
	margin: 30px;
}

.card {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.card--image {
	object-fit: cover;
	width: 176px;
	border-radius: 5px;
}

.card--details {
	margin-left: 15px;
}

.card--map {
	color: #918E9B;
	margin-left: 10px;
}

hr {
	color: #918E9B;
}
